nav{
    width: 100%;
    min-height: 5vh;
    height: auto;
    grid-area: nav;
    background-color: #fefefe;
    padding:10px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

#company_details div {
    padding: 10px;
    font-size: 25px;
}

nav ul{
    list-style-type: none;
}

.nav-menu-item{
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
}

.nav-menu-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.nav-menu-item a:hover{
    box-shadow: none;
}

@media all and (max-width: 700px) {
    .nav-menu-item  {
        font-size: 15px;
    }

    #company_details div {
        font-size: 30px;
    }

    #desc div {
        font-size: 15px;
    }

    #desc button {
        font-size: 20px;
        padding: 5px 5px;
    }
}


@media all and (max-width: 420px) {
    .nav-menu-item  {
        font-size: 1vh;
    }

    #company_details div {
        font-size: 3vh;
    }
}
